.locations
    .locations__container
        .locations__blocks 
            .locations__location
                .locations__location__title Отделение на Мира
                .locations__location__city Санкт-Петербург
                .locations__location__subway-station м. Горьковская
                .locations__location__address ул. Мира, 3 (ауд. 516)
                a.locations__location__about
                    .locations__location__about__txt об отделении
                    .locations__location__about__img
                        <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.560546 1.28418L1.43945 0.405273L11.2539 10.2197L1.43945 20.0342L0.560547 19.1553L9.49609 10.2197L0.560546 1.28418Z" fill="#72D2CB"/>
                        </svg>
                .locations__location__map
                    img(src="../../img/repeating-blocks/locations/map.png", alt="")
            .locations__location
                .locations__location__title Отделение на Стачек
                .locations__location__city Санкт-Петербург
                .locations__location__subway-station м. Ленинский пр. / Автово
                .locations__location__address пр. Стачек, 170 В
                a.locations__location__about
                    .locations__location__about__txt об отделении
                    .locations__location__about__img
                        <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.560546 1.28418L1.43945 0.405273L11.2539 10.2197L1.43945 20.0342L0.560547 19.1553L9.49609 10.2197L0.560546 1.28418Z" fill="#72D2CB"/>
                        </svg>
                .locations__location__map
                    img(src="../../img/repeating-blocks/locations/map.png", alt="")
            .locations__location
                .locations__location__title Отделение на Есенина
                .locations__location__city Санкт-Петербург
                .locations__location__subway-station м. Озерки
                .locations__location__address ул. Есенина, 1/1
                a.locations__location__about
                    .locations__location__about__txt об отделении
                    .locations__location__about__img
                        <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.560546 1.28418L1.43945 0.405273L11.2539 10.2197L1.43945 20.0342L0.560547 19.1553L9.49609 10.2197L0.560546 1.28418Z" fill="#72D2CB"/>
                        </svg>
                .locations__location__map
                    img(src="../../img/repeating-blocks/locations/map.png", alt="")
        a(href="#").locations__get-back
            .locations__get-back__arrow
                img(src="../../img/repeating-blocks/locations/up-arrow.svg", alt="Стрелка")
            .locations__get-back__text вернуться наверх

            
            
