.reviews
    .reviews__container
        .reviews__title отзывы
        .reviews__subtitle Мы очень оценим каждый отзыв наших клиентов.<br>Благодарим вас за теплые слова!
        .reviews__slider
            .reviews__slider__slide
                .reviews__slider__slide__top
                .reviews__slider__slide__photo
                    img(src="../../img/repeating-blocks/reviews/photo-1.jpg", alt="Фото")
                .reviews__slider__slide__content
                    .reviews__slider__slide__content__title Ирина Груздева
                    .reviews__slider__slide__content__date 05 февраля 2019 в 19:24
                    .reviews__slider__slide__content__text Мне бы хотелось поделиться своими эмоциями и впечатлением<br>о нашей студии «Амплуа» Ольги Алфёровой, куда ходит моя дочь.<br><br>Она занимается со многими педагогами уже не первый год, и я<br>могу с уверенностью сказать, что все дисциплины, а это и вокал,<br>и актёрское мастерство, и наши любимые танцы, от классики<br>до современных, несут огромную пользу для развития ребёнка,<br>учат управлять своим телом, голосом, учат выражать свои<br>эмоции.<br><br>Особенно хочу выделить взаимодействие педагогов с детьми... 
                        a.reviews__slider__slide__content__read-full
                            .reviews__slider__slide__content__read-full__txt Читать весь отзыв
                            .reviews__slider__slide__content__read-full__image
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.1484 0.648438L15.8516 1.35156L8 9.20312L0.148438 1.35156L0.851562 0.648438L8 7.79688L15.1484 0.648438Z" fill="#617E8C"/>
                                </svg>
                .reviews__slider__slide__bottom-picture
                    <svg width="56" height="43" viewBox="0 0 56 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M42.7589 42.768C39.1109 42.768 36.1349 41.472 33.8309 38.88C31.5269 36.288 30.3749 32.736 30.3749 28.224C30.3749 22.08 32.2469 16.464 35.9909 11.376C39.7349 6.288 46.1669 2.496 55.2869 0V6.91201C50.8709 8.448 47.5589 10.128 45.3509 11.952C43.2389 13.68 42.1829 15.936 42.1829 18.72C42.1829 20.16 42.7109 21.264 43.7669 22.032C44.8229 22.704 46.0229 23.424 47.3669 24.192C48.8069 24.96 50.0549 26.064 51.1109 27.504C52.1669 28.848 52.6949 30.816 52.6949 33.408C52.6949 36.48 51.7349 38.832 49.8149 40.464C47.8949 42 45.5429 42.768 42.7589 42.768ZM13.0949 42.768C9.44694 42.768 6.47094 41.472 4.16694 38.88C1.86294 36.288 0.710938 32.736 0.710938 28.224C0.710938 22.08 2.58294 16.464 6.32694 11.376C10.0709 6.288 16.5029 2.496 25.6229 0V6.91201C21.3029 8.448 18.0389 10.128 15.8309 11.952C13.7189 13.68 12.6629 15.936 12.6629 18.72C12.6629 20.16 13.1909 21.264 14.2469 22.032C15.3029 22.704 16.5029 23.424 17.8469 24.192C19.2869 24.96 20.5349 26.064 21.5909 27.504C22.6469 28.848 23.1749 30.816 23.1749 33.408C23.1749 36.48 22.2149 38.832 20.2949 40.464C18.3749 42 15.9749 42.768 13.0949 42.768Z" fill="#72D2CB"/>
                    </svg>
            .reviews__slider__slide
                .reviews__slider__slide__top
                .reviews__slider__slide__photo
                    img(src="../../img/repeating-blocks/reviews/photo-2.jpg", alt="Фото")
                .reviews__slider__slide__content
                    .reviews__slider__slide__content__title Антонина Полищук
                    .reviews__slider__slide__content__date 29 декабря 2017 в 11:16
                    .reviews__slider__slide__content__text Самое ценное для меня, как для мамы- это когда глаза моего<br>ребенка светятся от счастья. И это самый главный принцип, по<br>которому я определяю, насколько хорошо: прошел день,<br>экскурсия, праздник, занятие. После занятий в студии Амплуа,<br>какой бы уставшей она не была, ее глаза горят.<br><br>Еще для меня имеют значение личности педагогов. Благодаря<br>руководителю студии Ольге Алферовой, подобран прекрасный<br>коллектив.<br><br>Здесь работают очень творческие, открытые люди, которые<br>умеют найти подход к каждому ребенку.
                        a.reviews__slider__slide__content__read-full
                            .reviews__slider__slide__content__read-full__txt Читать весь отзыв
                            .reviews__slider__slide__content__read-full__image
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.1484 0.648438L15.8516 1.35156L8 9.20312L0.148438 1.35156L0.851562 0.648438L8 7.79688L15.1484 0.648438Z" fill="#617E8C"/>
                                </svg>
                .reviews__slider__slide__bottom-picture
                    <svg width="56" height="43" viewBox="0 0 56 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M42.7589 42.768C39.1109 42.768 36.1349 41.472 33.8309 38.88C31.5269 36.288 30.3749 32.736 30.3749 28.224C30.3749 22.08 32.2469 16.464 35.9909 11.376C39.7349 6.288 46.1669 2.496 55.2869 0V6.91201C50.8709 8.448 47.5589 10.128 45.3509 11.952C43.2389 13.68 42.1829 15.936 42.1829 18.72C42.1829 20.16 42.7109 21.264 43.7669 22.032C44.8229 22.704 46.0229 23.424 47.3669 24.192C48.8069 24.96 50.0549 26.064 51.1109 27.504C52.1669 28.848 52.6949 30.816 52.6949 33.408C52.6949 36.48 51.7349 38.832 49.8149 40.464C47.8949 42 45.5429 42.768 42.7589 42.768ZM13.0949 42.768C9.44694 42.768 6.47094 41.472 4.16694 38.88C1.86294 36.288 0.710938 32.736 0.710938 28.224C0.710938 22.08 2.58294 16.464 6.32694 11.376C10.0709 6.288 16.5029 2.496 25.6229 0V6.91201C21.3029 8.448 18.0389 10.128 15.8309 11.952C13.7189 13.68 12.6629 15.936 12.6629 18.72C12.6629 20.16 13.1909 21.264 14.2469 22.032C15.3029 22.704 16.5029 23.424 17.8469 24.192C19.2869 24.96 20.5349 26.064 21.5909 27.504C22.6469 28.848 23.1749 30.816 23.1749 33.408C23.1749 36.48 22.2149 38.832 20.2949 40.464C18.3749 42 15.9749 42.768 13.0949 42.768Z" fill="#72D2CB"/>
                    </svg>