* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a {
  color: white;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a, button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background-color: #72D2CB;
  display: flex;
  justify-content: center;
  position: relative;
}
.header__container {
  width: 1218px;
  flex-direction: column;
  align-items: center;
  padding-top: 31px;
}
.header__info {
  display: flex;
  justify-content: space-between;
}
.header__subways {
  display: flex;
}
.header__subways__list {
  margin-left: 14px;
}
.header__subways__list__item {
  margin-top: 4px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  transition: all 0.3s;
}
.header__subways__list__item:first-child {
  margin-top: 0px;
}
.header__subways__list__item:hover {
  color: #617E8C;
  transition: all 0.3s;
}
.header__logo svg path {
  transition: all 0.3s;
}
.header__logo:hover svg path {
  fill: #617E8C;
  transition: all 0.3s;
}
.header__phones {
  display: flex;
  flex-direction: column;
}
.header__phones__questions {
  align-self: flex-end;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.header__phones__phone {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.3s;
}
.header__phones__phone:hover {
  color: #617E8C;
  transition: all 0.3s;
}
.header__nav {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.header__nav ul {
  display: flex;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-top: 1px solid #92DDD7;
  border-bottom: 1px solid #92DDD7;
  padding: 20px 40px;
}
.header__nav ul li {
  margin-left: 40px;
}
.header__nav ul li a {
  transition: all 0.3s;
}
.header__nav ul li:first-child {
  margin-left: 0px;
}
.header__nav ul li:hover a {
  color: #617E8C;
  transition: all 0.3s;
}

.footer {
  background-color: #242C34;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin-top: 100px;
}
.footer__container {
  width: 1218px;
  display: flex;
}
.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 209px;
}
.footer__logo svg path {
  transition: all 0.3s;
}
.footer__logo:hover svg path {
  transition: all 0.3s;
  fill: #617E8C;
}
.footer__name {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__social-media {
  display: flex;
  margin-top: 16.5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__social-media a svg path {
  transition: all 0.3s;
}
.footer__social-media a:hover svg path {
  transition: all 0.3s;
  fill: #617E8C;
}
.footer__copy {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 31px;
}
.footer__links {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #FFFFFF;
}
.footer__links__list__item {
  margin-top: 6px;
}
.footer__links__list__item:first-child {
  margin-top: 0px;
}
.footer__links__list__item a {
  transition: all 0.3s;
}
.footer__links__list__item:hover a {
  color: #617E8C;
  transition: all 0.3s;
}
.footer__phones {
  display: flex;
  flex-direction: column;
}
.footer__phones__questions {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  align-self: flex-end;
  margin-bottom: 7px;
}
.footer__phones__phone {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.03em;
  align-self: flex-end;
  color: #92DDD7;
  transition: all 0.3s;
}
.footer__phones__phone:hover {
  transition: all 0.3s;
  color: #617E8C;
}
.footer__phones__button {
  margin-top: 23px;
}
.footer__phones__button button {
  background-color: #72D2CB;
  padding: 12px 42px;
  border-radius: 51px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 800;
  font-size: 15.2761px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.3s;
}
.footer__phones__button button:hover {
  transition: all 0.3s;
  background-color: #617E8C;
}

.reviews {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.reviews__container {
  width: 1218px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #242C34;
}
.reviews__subtitle {
  margin-top: 20px;
  font-family: Andantino script;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #242C34;
  text-align: center;
}
.reviews__slider {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.reviews__slider__slide {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #72D2CB;
  border-radius: 30px;
  border-bottom: none;
  padding-bottom: 10px;
}
.reviews__slider__slide__top {
  background-color: #72D2CB;
  height: 100px;
  width: 598px;
  border-radius: 30px 30px 0px 0px;
}
.reviews__slider__slide__photo {
  position: absolute;
  background-color: #FFFFFF;
  padding: 3px;
  border-radius: 50%;
  left: 40%;
  top: 7%;
}
.reviews__slider__slide__photo img {
  border-radius: 50%;
}
.reviews__slider__slide__content {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__slider__slide__content__title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  color: #242C34;
}
.reviews__slider__slide__content__date {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #617E8C;
  margin-top: 8px;
}
.reviews__slider__slide__content__text {
  margin-top: 38px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #242C34;
}
.reviews__slider__slide__content__read-full {
  margin-top: 20px;
  display: flex;
}
.reviews__slider__slide__content__read-full__txt {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #617E8C;
}
.reviews__slider__slide__content__read-full__image {
  margin-left: 10px;
}
.reviews__slider__slide__bottom-picture {
  position: absolute;
  bottom: -25px;
  left: 45%;
}
.reviews__slider__slide::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 35%;
  height: 1px;
  left: 4%;
  background-color: #72D2CB;
}
.reviews__slider__slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 35%;
  height: 1px;
  right: 4%;
  background-color: #72D2CB;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.contacts__container {
  width: 1218px;
  flex-direction: column;
}
.contacts__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.contacts__title__text {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #242C34;
}
.contacts__title__line {
  width: 75%;
  height: 1px;
  background-color: #617E8C;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.contacts__info {
  display: flex;
  flex-direction: column;
}
.contacts__info__phones {
  display: flex;
}
.contacts__info__phones__telephones {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.contacts__info__phones__telephones__phone {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #242C34;
}
.contacts__info__phones__telephones__time {
  margin-top: 10px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #242C34;
}
.contacts__info__mail {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.contacts__info__mail__e-mail {
  margin-left: 14px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #242C34;
}
.contacts__info__addres {
  margin-top: 30px;
  display: flex;
}
.contacts__info__addres__text {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.contacts__info__addres__text__title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #242C34;
}
.contacts__info__addres__text__info {
  margin-top: 10px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #242C34;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #72D2CB;
  padding: 30px 100px;
}
.contacts__form__title {
  font-family: Andantino script;
  font-style: normal;
  font-weight: normal;
  font-size: 68px;
  line-height: 80%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  text-align: center;
}
.contacts__form form {
  display: flex;
  flex-direction: column;
}
.contacts__form form input {
  width: 395px;
  height: 55px;
  margin-top: 16px;
  border-radius: 8px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #617E8C;
  padding-left: 18px;
}
.contacts__form form input:first-child {
  margin-top: 41px;
}
.contacts__form form button {
  margin-top: 20px;
  background: #FF7077;
  border-radius: 10px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 24px 87px;
}
.contacts__form form .big-text-in-form {
  height: 130px;
}

.locations {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.locations__container {
  width: 1218px;
  display: flex;
  flex-direction: column;
}
.locations__blocks {
  display: flex;
  justify-content: space-between;
}
.locations__location {
  display: flex;
  flex-direction: column;
}
.locations__location__title {
  font-family: Andantino script;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #242C34;
}
.locations__location__city {
  margin-top: 10px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #242C34;
}
.locations__location__subway-station {
  margin-top: 10px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #242C34;
}
.locations__location__address {
  margin-top: 10px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #242C34;
}
.locations__location__about {
  margin-top: 30px;
  display: flex;
}
.locations__location__about__txt {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #72D2CB;
  transition: all 0.3s;
}
.locations__location__about__img {
  margin-left: 10px;
}
.locations__location__about svg path {
  transition: all 0.3s;
}
.locations__location__about:hover svg path {
  fill: #617E8C;
  transition: all 0.3s;
}
.locations__location__about:hover .locations__location__about__txt {
  color: #617E8C;
  transition: all 0.3s;
}
.locations__location__map {
  margin-top: 30px;
}
.locations__get-back {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}
.locations__get-back__text {
  margin-left: 10px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #242C34;
}